# udev rules for Fender Mustang Amps. Used by Plug.

ACTION!="add|bind", GOTO="mustang_plug_rules_end"
SUBSYSTEM!="usb", GOTO="mustang_plug_rules_end"

ATTRS{idVendor}=="1ed8", ATTRS{idProduct}=="0004", ENV{ID_AUDIO_MODELING_AMP}="1"
ATTRS{idVendor}=="1ed8", ATTRS{idProduct}=="0005", ENV{ID_AUDIO_MODELING_AMP}="1"
ATTRS{idVendor}=="1ed8", ATTRS{idProduct}=="0006", ENV{ID_AUDIO_MODELING_AMP}="1"
ATTRS{idVendor}=="1ed8", ATTRS{idProduct}=="0007", ENV{ID_AUDIO_MODELING_AMP}="1"
ATTRS{idVendor}=="1ed8", ATTRS{idProduct}=="0010", ENV{ID_AUDIO_MODELING_AMP}="1"
ATTRS{idVendor}=="1ed8", ATTRS{idProduct}=="0011", ENV{ID_AUDIO_MODELING_AMP}="1"
ATTRS{idVendor}=="1ed8", ATTRS{idProduct}=="0012", ENV{ID_AUDIO_MODELING_AMP}="1"
ATTRS{idVendor}=="1ed8", ATTRS{idProduct}=="0013", ENV{ID_AUDIO_MODELING_AMP}="1"
ATTRS{idVendor}=="1ed8", ATTRS{idProduct}=="0014", ENV{ID_AUDIO_MODELING_AMP}="1"
ATTRS{idVendor}=="1ed8", ATTRS{idProduct}=="0015", ENV{ID_AUDIO_MODELING_AMP}="1"
ATTRS{idVendor}=="1ed8", ATTRS{idProduct}=="0016", ENV{ID_AUDIO_MODELING_AMP}="1"
ATTRS{idVendor}=="1ed8", ATTRS{idProduct}=="0017", ENV{ID_AUDIO_MODELING_AMP}="1"

LABEL="mustang_plug_rules_end"
