[Desktop Entry]
Type=Application
Version=1.0
Name=Plug
Comment=Software for Fender Mustang Amps.
Exec=plug
Icon=mustang-plug
Terminal=false
Categories=AudioVideo;Audio;Music;Qt

