name: ci

on: [push, pull_request]

jobs:
  build_linux:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        compiler:
          - gcc:13
          - gcc:12
          - clang:18
          - clang:17
    container:
      image: "registry.gitlab.com/offa/docker-images/${{ matrix.compiler }}"
    name: "${{ matrix.compiler }}"
    steps:
      - uses: actions/checkout@main
      - name: Setup
        run: script/ci_setup.sh
      - name: Build
        run: script/ci_build.sh -asan -ubsan

  formatting-check:
    name: "formatting"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@main
      - uses: DoozyX/clang-format-lint-action@master
        name: "Verify formatting"
        with:
          clangFormatVersion: 16

  coverage:
    name: "coverage"
    runs-on: ubuntu-latest
    container:
      image: "registry.gitlab.com/offa/docker-images/gcc:12"
    steps:
      - uses: actions/checkout@main
      - name: Setup
        run: script/ci_setup.sh
      - name: Build
        run: script/ci_build.sh -cov
